@model MasterChef.Web.Models.IngredienteModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h5>Cadastro</h5>


<form asp-controller="Ingrediente" asp-action="Cadastro" method="post" class="border" >

    <input asp-for="@Model.receitaId" type="hidden" id="hdReceitaId" value="@ViewBag.ReceitaId" />
    <input asp-for="@Model.id" type="hidden" id="hdIngredienteId" value="@ViewBag.id" />

    <div class="container">
        <div class="row g-2 align-items-center">
            <div class="col-4">
                <label asp-for="@Model.Nome" class="form-label">Nome</label>
                <input asp-for="@Model.Nome" type="text" class="form-control" id="txtNome">
                <span asp-validation-for="@Model.Nome" class="text-danger"></span>
            </div>

            <div class="col-4">
                <label asp-for="@Model.descricao" class="form-label">Descricao</label>
                <input type="text" asp-for="@Model.descricao" class="form-control" id="txtimagem">
                <span asp-validation-for="@Model.descricao" class="text-danger"></span>
            </div>

            <div class="col-4">
                <label asp-for="@Model.quantidade" class="form-label">Quantidade</label>
                <input type="number" asp-for="@Model.quantidade" class="form-control" id="txtdescicao">
                <span asp-validation-for="@Model.quantidade" class="text-danger"></span>
            </div>

        </div>
        <br />
        <div class="row g-3 align-items-center">

            <div class="col-4">
                <label asp-for="@Model.peso" class="form-label">Peso</label>
                <input type="number" asp-for="@Model.peso" class="form-control" id="txtdescicao">
                <span asp-validation-for="@Model.peso" class="text-danger"></span>
            </div>

        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-dark" id="btnSalvar">Salvar</button>
        </div>
    </div>

</form>
<br />
<h5>Ingredientes</h5>
<br />
<partial name="_ListaIngredientePartial" view-data="ViewData" for="@Model.ingredientes"></partial>
<partial name="_ExcluirIngredientePartial" model="new IngredienteModel()" view-data="ViewData"></partial>